[submodule "42Porto-lvl_0_libft/42Porto-lvl_0_libft"]
	path = 42Porto-lvl_0_libft/42Porto-lvl_0_libft
	url = git@github.com:MicchelFAB/42Porto-lvl_0_libft.git
[submodule "42Porto-lvl_1_ft_printf/printf"]
	path = 42Porto-lvl_1_ft_printf/printf
	url = git@github.com:MicchelFAB/42Porto_lvl_1_ft_printf.git
[submodule "42Porto-lvl_1_get_next_line/src"]
	path = 42Porto-lvl_1_get_next_line/src
	url = git@github.com:MicchelFAB/42Porto-lvl_1_get_next_line.git
